* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oxygen", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.navbar {
  background-color: #ec4f4f;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}
.navbar .brand-logo {
  height: 60px;
}
.navbar .navbar-nav .nav-link {
  color: white;
  font-weight: 400;
}

main .index-container {
  margin-top: 74px;
  padding: 0;
}
main .index-container .main-banner {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
main .index-container .main-banner-mobile {
  display: none;
}
main .index-container .index-content {
  text-align: center;
}
main .index-container .index-content .index-brand-container .index-brand-logo {
  height: 100px;
  border-radius: 5px;
}
main .index-container .index-content h4 {
  margin-bottom: 15px;
}
main .index-container .index-content .index-text {
  font-size: 18px;
  margin: 10px 0 40px;
}
main .index-container .index-content .galeria {
  width: 800px;
  height: 300px;
  border-radius: 2px;
  background-color: black;
}
main .index-container .index-content .galeria .img-galeria {
  width: 0;
  flex-grow: 1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
main .index-container .index-content .galeria .img-galeria:hover {
  width: 150px;
  cursor: crosshair;
  opacity: 1;
}
main .productos-container {
  padding: 0;
}
main .productos-container .section-header {
  background-color: rgb(250, 180, 180);
}
main .productos-container .categoria-box {
  border: solid 3px #ec4f4f;
}
main .productos-container .categoria-box .box-image {
  width: 250px;
}
main .productos-container .categoria-box .border-bottom {
  border-bottom: 8px;
  width: 90%;
}
main .productos-container .categoria-box .content-box {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner {
  width: 400px;
}
main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner .carousel-item .carousel-img {
  width: 100%;
  border-radius: 3px;
}
main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner .carousel-item .carousel-caption {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 3px;
}
main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner .carousel-item .carousel-caption h5, main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner .carousel-item .carousel-caption p {
  text-shadow: 1px 1px 5px black;
}
main .productos-container .categoria-box .content-box .box-description {
  width: 400px;
  min-width: 200px;
  margin: 0 30px;
}
main .productos-container .categoria-box .content-box .box-description .text-wrap {
  width: 100%;
}
main .productos-container .perros-box .section-title {
  color: #ec4f4f;
}
main .productos-container .gatos-box {
  border-color: #fbb800;
}
main .productos-container .gatos-box .section-title {
  color: #ffa908;
}
main .productos-container .conejos-box {
  border-color: #2eb3e7;
}
main .productos-container .conejos-box .section-title {
  color: #2eb3e7;
}
main .snacks-container {
  background-color: #fdd975;
}
main .snacks-container .cards-container .card {
  width: 280px;
  border: none;
  margin: 20px;
}
main .ropa-container .ropa-items .item-container {
  width: 300px;
  margin: 20px;
}
main .ropa-container .ropa-items .item-container .carouselRopa .carousel-inner {
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(31, 31, 31);
  border-radius: 4px;
}
main .ropa-container .ropa-items .item-container .carouselRopa .carousel-inner .carousel-img {
  width: 100%;
}
main .ropa-container .ropa-items .item-container .carouselRopa .carousel-control-prev-icon, main .ropa-container .ropa-items .item-container .carouselRopa .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 100%;
}
main .limpieza-container {
  background-color: #f3cdd9;
}
main .limpieza-container .limpieza-sub-container .top-container {
  justify-content: center;
}
main .limpieza-container .limpieza-sub-container .top-container .carouselLimpieza .carousel-inner {
  width: 350px;
  border-radius: 3px;
  box-shadow: 0.1rem 0.1rem 0.7rem rgb(31, 31, 31);
}
main .limpieza-container .limpieza-sub-container .top-container .carouselLimpieza .carousel-inner .carousel-item .carousel-img {
  width: 100%;
}
main .limpieza-container .limpieza-sub-container .top-container .box-description {
  margin: 0 30px;
  width: 500px;
}
main .limpieza-container .limpieza-sub-container .bottom-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container {
  display: flex;
  justify-content: center;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col {
  width: -moz-min-content;
  width: min-content;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .card-cover {
  position: relative;
  height: 250px;
  width: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .card-cover .feature-title {
  text-align: center;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .card-cover .feature-title h4 {
  position: relative;
  top: 0px;
  text-shadow: 3px 3px 8px black;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .card-cover .feature-title .last-title {
  position: relative;
  top: 140px;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat1 {
  background-image: url("/images/limpieza/cepillos.webp");
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat2 {
  background-image: url("/images/limpieza/shampoo.webp");
  color: rgb(255, 255, 255);
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat2 .feature-title h4 {
  text-shadow: 2px 2px 10px rgb(29, 29, 29);
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 3px;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat3 {
  background-image: url("/images/limpieza/arenero1.jpg");
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat4 {
  background-image: url("/images/limpieza/palas-gato.webp");
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat4 .feature-title .last-title {
  top: 130px;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat5 {
  background-image: url("/images/limpieza/repelente.webp");
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat6 {
  background-image: url("/images/limpieza/panales-mascotas.jpg");
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat7 {
  background-image: url("/images/limpieza/bolsas-eco-friendly.webp");
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat7 .feature-title .last-title {
  top: 120px;
}
main .limpieza-container .limpieza-sub-container .bottom-container .feature-container .feature-col .feat7 .feature-title h4 {
  text-shadow: 2px 2px 5px rgb(29, 29, 29);
}
main .informacion-container .box-description {
  max-width: 500px;
  min-width: 300px;
}
main .informacion-container .top-container .tienda-img {
  width: 400px;
  border-radius: 3px;
  opacity: 0.8;
  transition: 0.5s;
  margin: 0 20px;
}
main .informacion-container .top-container .tienda-img:hover {
  opacity: 1;
}
main .informacion-container .top-container .box-description {
  max-width: 500px;
  min-width: 300px;
}
main .informacion-container .top-container .box-description .description-button {
  margin-left: 120px;
}
main .informacion-container .domi-container {
  background-color: #fde49e;
  align-items: center;
  padding: 0 20px;
}
main .informacion-container .domi-container .domi-img {
  width: 400px;
  border-radius: 2px;
}
main .informacion-container .domi-container .box-description {
  margin-right: 40px;
}
main .informacion-container .domi-container .box-description .description-button {
  align-self: center;
}
main .informacion-container .domi-container .box-description .description-button .btn-primary {
  border: none;
  background-color: #0784d6;
  color: white;
}
main .informacion-container .domi-container .box-description .description-button .btn-primary:hover {
  background-color: #0c2e77;
}
main .informacion-container .domi-container .box-description .domi-description {
  margin: 0;
}
main .informacion-container .domi-container .box-description .domi-description .ig-hashtag {
  text-decoration: none;
  color: #011747;
  font-weight: bold;
}
main .informacion-container .webshop-container {
  background-color: #e66767;
  padding-left: 15px;
  padding-right: 15px;
}
main .informacion-container .webshop-container .webshop-img {
  width: 40vw;
  border-radius: 3px;
  margin-right: 30px;
}
main .informacion-container .webshop-container .box-description {
  color: white;
  margin-top: 30px;
}
main .informacion-container .webshop-container .box-description .btn-container {
  margin: 15px 0 0 100px;
}
main .informacion-container .webshop-container .box-description .btn-container .btn-primary {
  background-color: white;
  color: #681d1d;
  border: none;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}
main .informacion-container .webshop-container .box-description .btn-container .btn-primary:hover {
  background-color: #fdd975;
}
main .contacto-container .cards-container .card {
  margin: 20px 30px;
  border: solid 3px;
}
main .contacto-container .cards-container .card .card-img-top {
  margin: 35px;
  margin-bottom: 0;
  width: 125px;
}
main .contacto-container .cards-container .wa-card {
  border-color: #23a03e;
}
main .contacto-container .cards-container .ig-card {
  border-color: #bd2a88;
}
main .contacto-container .cards-container .fb-card {
  border-color: #004881;
}

.footer {
  padding: 0 15px;
  background-color: #d64444;
  color: white;
}
.footer .top-footer .footer-logo-container {
  margin-right: 30px;
  border-radius: 3px;
}
.footer .top-footer .footer-logo-container img {
  height: 50px;
}
.footer .top-footer .nav {
  width: -moz-max-content;
  width: max-content;
}
.footer .top-footer .nav .nav-link {
  color: white;
}
.footer .bottom-footer {
  justify-content: space-between;
}
.footer .bottom-footer .list-unstyled .link-body-emphasis {
  padding: 0 5px;
}
.footer .bottom-footer .list-unstyled .link-body-emphasis svg {
  width: 25px;
  color: white;
}

@media (max-width: 820px) {
  main .index-container .index-content .galeria {
    width: 95vw;
  }
  main .informacion-container .domi-container {
    align-items: start;
  }
  main .informacion-container .domi-container .box-description {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  main .index-container {
    margin-top: 0;
  }
  main .index-container .main-banner {
    display: none;
  }
  main .index-container .main-banner-mobile {
    margin-top: 74px;
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  main .index-container .index-content .index-brand-container .index-brand-logo {
    height: 70px;
  }
  main .productos-container .categoria-box {
    width: 90vw;
  }
  main .snacks-container .cards-container {
    justify-content: center;
  }
  main .informacion-container .top-container {
    flex-wrap: wrap;
  }
  main .informacion-container .top-container .box-description {
    margin-top: 20px;
  }
  main .informacion-container .top-container .box-description .description-button {
    align-self: center;
    margin: 0;
  }
  main .informacion-container .domi-container {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  main .informacion-container .domi-container .box-description {
    margin: 20px 0;
  }
  main .informacion-container .webshop-container {
    flex-wrap: wrap;
  }
  main .informacion-container .webshop-container .webshop-img {
    width: 80vw;
    margin: 0;
  }
  main .informacion-container .webshop-container .box-description {
    text-align: center;
  }
  main .informacion-container .webshop-container .box-description .btn-container {
    margin-left: 0;
  }
  .footer .top-footer .nav {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner {
    width: 80vw;
  }
  main .productos-container .categoria-box .content-box .carouselProductos .carousel-inner .carousel-caption {
    padding: 20px 0;
  }
  main .productos-container .categoria-box .content-box .box-description {
    width: 80vw;
  }
  main .limpieza-container .limpieza-sub-container .top-container .carouselLimpieza .carousel-inner {
    width: 85vw;
  }
  main .limpieza-container .limpieza-sub-container .top-container .box-description {
    margin: 0 15px;
    width: 100%;
  }
  .footer .bottom-footer {
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .footer .bottom-footer .list-unstyled {
    margin: 10px 0 30px;
  }
}/*# sourceMappingURL=index.css.map */